.time-to-eat-food{
    padding: 50px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.breakfast:hover{
   color: red;
   border-bottom: 3px solid red;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
   
    
     
}
.items{
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    
    
}
 